<html>
<script>
	function checkData(){
		let answer=true
		if (A.value==""){
			num1Err.style.visibility="visible"
			answer=false
		}else{
			num1Err.style.visibility="hidden"
		}
		if (B.value==""){
			num2Err.style.visibility="visible"
			answer=false
		}else{
			num2Err.style.visibility="hidden"
			}
		return answer
	}
</script>

<form action="http://localhost:5000/data" onsubmit="return checkData()" method="POST">

	Enter first number: <input id="A" type="text" name="num1"> <span id="num1Err" style="color:red;visibility:hidden" > Number is missing  </span>
	<br>
	Enter second number: <input id="B" type="text" name="num2"> <span id="num2Err" style="color:red;visibility:hidden" > Number is missing  </span>
	<br>
	<input type="Submit" value="OK">

</form>
</html>