<html>
<h2>
	<center>
		Employee Information System
	</center>
</h2>
List of Employees: <br>

	Department: <form action="http://localhost:5000/deptEmployees" method="post">
	<select name="dept">
		<option value="HR"> Human Resource </option>
		<option value="IT"> Information Technology </option>
		<option value="all"> All Employees </option>
	</select>
<br>
<input type="submit" value="Show" name="show"> <br>

</form>

<a href="http://localhost:5000/newrecord"> New Employee: </a> <br>
<br>
	<table>
		<tr> 
			<td> S.no </td>
			<td> Name </td>
		</tr>

	{% for record in data%}
		<tr>
			<td> 1 </td>
			<td> <a href='http://localhost:5000/details/{{record[0]}}'> {{record[1]}} </a> <br>
			</td>
	{% endfor%}
</table>

</html>